### ※ (점심시간 문제) emp2.csv, dept2.csv를 파이썬으로 로드하여 이중 루프문을 사용하여 오라클의 nl join을 수행.
### 이름과 부서위치를 출력

In [22]:
import csv
file=open('K:\\Itwill\\2. Python\\자료\\emp2.csv','r')
emp_csv=csv.reader(file)
    
file2=open('K:\\Itwill\\2. Python\\자료\\dept2.csv','r')
dept_csv=csv.reader(file2)

    
for i in dept_csv:
    for j in emp_csv:
        if i[0]==j[7]:
            print(j[1],i[2])
        file=open('K:\\Itwill\\2. Python\\자료\\emp2.csv','r')
        emp_csv=csv.reader(file)
    file2=open('K:\\Itwill\\2. Python\\자료\\dept2.csv','r')
    dept_csv=csv.reader(file2)

KING NEW YORK
CLARK NEW YORK
MILLER NEW YORK
JONES DALLAS
FORD DALLAS
SMITH DALLAS
SCOTT DALLAS
ADAMS DALLAS
BLAKE CHICAGO
MARTIN CHICAGO
ALLEN CHICAGO
TURNER CHICAGO
JAMES CHICAGO
WARD CHICAGO

In [8]:
%whos

Variable   Type             Data/Info
-------------------------------------
csv        module           <module 'csv' from 'C:\\U<...>\anaconda3\\lib\\csv.py'>
dept_csv   reader           <_csv.reader object at 0x000001D483BD4B38>
emp        DataFrame            index  empno   ename <...>2      20  \n13      10
emp_csv    reader           <_csv.reader object at 0x000001D483BD4F98>
file       TextIOWrapper    <_io.TextIOWrapper name='<...>ode='r' encoding='cp949'>
file2      TextIOWrapper    <_io.TextIOWrapper name='<...>ode='r' encoding='cp949'>
i          list             n=3
pd         module           <module 'pandas' from 'C:<...>es\\pandas\\__init__.py'>

### 어제까지 배운 파이썬 수업내용 복습
1. 파이썬의 자료형 5가지 : 숫자형, 문자형, 리스트, 사전, 튜플
2. 파이썬에서의 산술 연산자 : +, -, *, /
3. 파이썬에서의 비교 연산자 : >, <, <=, >=, ==, !=
4. 파이썬에서의 논리 연산자 : and, or, not
5. 판다스를 이용한 데이터 검색
    - database와 연동해서 데이터를 검색할 때 아주 유용
    - 엑셀 데이터를 파이썬에서 검색할 때 빠르게 검색할 수 있어서 유용

### 오라클의 기타 비교 연산자를 파이썬 판다스와 비교
#### 오라클　　　　　　　　　　　　　판다스  
between ~ and　　　　　　　 emp['sal'].between(1000,3000)  
in　　　　　　　　　　　　　　isin  
is null　　　　　　　　　　　isnull()  
like　　　　　　　　　　　　 apply 함수

### ※ 문제46. 월급이 1000에서 3000사이인 사원들의 이름, 월급을 출력 
#### (SQL->pandas)

In [14]:
import pandas as pd

emp=pd.read_csv('K:\\Itwill\\2. Python\\자료\\emp3.csv')
print(emp[['ename','sal']][emp['sal'].between(1000,3000)])

     ename   sal
1    BLAKE  2850
2    CLARK  2450
3    JONES  2975
4   MARTIN  1250
5    ALLEN  1600
6   TURNER  1500
8     WARD  1250
9     FORD  3000
11   SCOTT  3000
12   ADAMS  1100
13  MILLER  1300

### ※ 문제47. 월급이 1000에서 3000사이가 아닌 사원들의 이름과 월급을 출력

In [19]:
print(emp[['ename','sal']][~emp['sal'].between(1000,3000)])

    ename   sal
0    KING  5000
7   JAMES   950
10  SMITH   800

### ※ 문제48. 직업이 SALESMAN, ANALYST인 사원들의 이름과 직업을 출력

In [29]:
print(emp[['ename','job']][emp['job'].isin(['SALESMAN','ANALYST'])])

     ename       job
4   MARTIN  SALESMAN
5    ALLEN  SALESMAN
6   TURNER  SALESMAN
8     WARD  SALESMAN
9     FORD   ANALYST
11   SCOTT   ANALYST

### ※ 문제49. 직업이 SALESMAN, ANALYST가 아닌 사원들의 이름과 직업을 출력

In [5]:
import pandas as pd

emp=pd.read_csv('K:\\Itwill\\2. Python\\자료\\emp3.csv')
print(emp[['ename','job']][~emp['job'].isin(['SALESMAN','ANALYST'])])

     ename        job
0     KING  PRESIDENT
1    BLAKE    MANAGER
2    CLARK    MANAGER
3    JONES    MANAGER
7    JAMES      CLERK
10   SMITH      CLERK
12   ADAMS      CLERK
13  MILLER      CLERK

### ※ 문제50. 커미션이 null인 사원들의 이름과 커미션을 출력

In [9]:
print(emp[['ename','comm']][emp['comm'].isnull()])

     ename  comm
0     KING   NaN
1    BLAKE   NaN
2    CLARK   NaN
3    JONES   NaN
7    JAMES   NaN
9     FORD   NaN
10   SMITH   NaN
11   SCOTT   NaN
12   ADAMS   NaN
13  MILLER   NaN

### ※ 문제51. 커미션이 null이 아닌 사원들의 이름과 커미션을 출력

In [15]:
print(emp[['ename','comm']][~emp['comm'].isnull()])

    ename    comm
4  MARTIN  1400.0
5   ALLEN   300.0
6  TURNER     0.0
8    WARD   500.0

In [28]:
# 점심시간 문제
import csv
file=open('K:\\Itwill\\2. Python\\자료\\emp2.csv','r')
emp_csv=list(csv.reader(file))
file2=open('K:\\Itwill\\2. Python\\자료\\dept2.csv','r')
dept_csv=list(csv.reader(file2))
    
for i in dept_csv:
    for j in emp_csv:
        if i[0]==j[7]:
            print(j[1],i[2])

KING NEW YORK
CLARK NEW YORK
MILLER NEW YORK
JONES DALLAS
FORD DALLAS
SMITH DALLAS
SCOTT DALLAS
ADAMS DALLAS
BLAKE CHICAGO
MARTIN CHICAGO
ALLEN CHICAGO
TURNER CHICAGO
JAMES CHICAGO
WARD CHICAGO

### ■ 예제26. 시퀀스 자료형 이해하기
#### 시퀀스 자료형은 어떤 객체가 순서를 가지고 나열되어 있는 것을 말한다. 
예를 들어 문자열 'abcd'는 문자 a,b,c,d가 순서를 가지고 차례대로 나열되어 있는 것

In [30]:
a='scott'
print(a[0])
print(a[-1])

s
t

### ※ 문제52. 이름의 첫번째 글자가 S로 시작하는 사원들의 이름을 출력하시오

### ※ 문제53. emp2.csv에서 이름의 첫번째 철자만 출력하시오

In [37]:
file=open('K:\\Itwill\\2. Python\\자료\\emp2.csv','r')
emp_csv=list(csv.reader(file))
for i in emp_csv:
    print(i[1][0])

K
B
C
J
M
A
T
J
W
F
S
S
A
M

### ※ 문제54. 문제 52번을 판다스를 이용하지 않고 파이썬으로 구현하시오

In [38]:
file=open('K:\\Itwill\\2. Python\\자료\\emp2.csv','r')
emp_csv=list(csv.reader(file))
for i in emp_csv:
    if 'S' in i[1][0]:
        print(i[1])

SMITH
SCOTT

### ※ 문제55. 위의 문제를 pandas를 이용해서 수행

In [45]:
import pandas as pd

emp=pd.read_csv('K:\\Itwill\\2. Python\\자료\\emp3.csv')
result=emp['ename'].apply(lambda x:x[0]=='S')
result2=emp[['ename']][result==True]
print(result2)

    ename
10  SMITH
11  SCOTT

#### *apply 함수는 emp['ename'].apply(조건) → ename중에 조건에 만족한 ename만 True가 된다.

### ※ 문제56. 이름의 끝글자가 T로 끝나는 사원들의 이름을 출력

In [46]:
result=emp['ename'].apply(lambda x:x[-1]=='T')
result2=emp[['ename']][result==True]
print(result2)

    ename
11  SCOTT

In [47]:
for i in emp_csv:
    if 'T' in i[1][-1]:
        print(i[1])

SCOTT

### ■ 예제27. 시퀀스 자료 인덱싱 이해하기
    
#### 인덱싱(indexing)이란 시퀀스 자료형에서 인덱스를 통해 해당하는 값을 얻는 방법.
#### 파이썬에서는 인덱스를 0부터 시작하며 음수인 인덱스도 사용 가능

#### 음수 인덱스는 '끝에서 몇 번째'라는 의미

In [49]:
a='SALESMAN'
print(a[2]) # L이 출력됨

L

### ※ 문제57. 아래의 listdata 변수에 숫자 4를 출력하시오

In [50]:
listdata=[1,2,3,4]
print(listdata[3])

4

### ※ 문제58. 아래의 listdata 변수에 숫자 4를 출력하시오

In [52]:
listdata=[1,2,[4,5,6]]
print(listdata[2][0])

4

### ■ 예제28. 시퀀스 자료 슬라이싱 이해하기
#### 인덱싱은 인덱스에 해당하는 요소 하나를 취하는 방법이지만
#### 슬라이싱은 시퀀스 자료에서 일정 범위에 해당하는 부분을 취하는 방법

In [54]:
a='scott'
print(a[1:3])

co

### ※ 문제59. emp2.csv에서 이름을 출력하는 데 아래의 SQL을 파이썬으로 구현하시오
```sql
select substr(ename,1,3)
    from emp;
```

In [56]:
file=open('K:\\Itwill\\2. Python\\자료\\emp2.csv','r')
emp_csv=list(csv.reader(file))

for i in emp_csv:
    print(i[1][0:3])

KIN
BLA
CLA
JON
MAR
ALL
TUR
JAM
WAR
FOR
SMI
SCO
ADA
MIL

### ※ 문제60. 아래의 SQL을 파이썬으로 구현하시오
```sql
select substr(ename,-3)
    from emp;
```

In [61]:
file=open('K:\\Itwill\\2. Python\\자료\\emp2.csv','r')
emp_csv=list(csv.reader(file))
for i in emp_csv:
    print(i[1][-3:])

ING
AKE
ARK
NES
TIN
LEN
NER
MES
ARD
ORD
ITH
OTT
AMS
LER

### ■ 예제29. 시퀀스 자료 연결 이해하기 (+)
#### 자료형이 동일한 두 개의 시퀀스 자료는 + 연산자로 순서 있게 연결하여 새로운 시퀀스 자료를 만들 수 있다.
#### 문자열+문자열, 리스트+리스트, 튜플+튜플과 같이 두 개의 동일한 시퀀스 자료형에 대해 '+' 연산자로 연결이 가능

In [62]:
a='i love '
b='Python'
print(a+b)

i love Python

### ※ 문제61. 아래의 두 개의 리스트를 연결하여 아래와 같이 출력하시오
[2,3,4,5]  
[9,2,4,8]  
[2,3,4,5,9,2,4,8]

In [63]:
a=[2,3,4,5]
b=[9,2,4,8]
print(a+b)

[2, 3, 4, 5, 9, 2, 4, 8]

### ※ 문제62. 아래의 SQL을 파이썬으로 구현하시오
```sql
select initcap(ename)
    from emp;
```
힌트: emp_list[1].upper()

In [65]:
file=open('K:\\Itwill\\2. Python\\자료\\emp2.csv','r')
emp_csv=list(csv.reader(file))
for i in emp_csv:
    print(i[1][0].upper()+i[1][1:])

KING
BLAKE
CLARK
JONES
MARTIN
ALLEN
TURNER
JAMES
WARD
FORD
SMITH
SCOTT
ADAMS
MILLER

### ■ 예제30. 시퀀스 자료 반복 이해하기(*)
#### 동일한 시퀀스 자료를 반복하여 새로운 시퀀스 자료를 만들고자 하면 별표(*)를 연산자로 사용

In [67]:
print('a'*7)
print([1,2,3]*5)

aaaaaaa
[1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3]

### ※ 문제64.(파이썬 알고리즘 문제 14번) 아래의 결과를 출력하시오
#### 숫자를 입력하세요 ~ 5
```
         ★
       ★★
     ★★★
   ★★★★
 ★★★★★
 ```

In [74]:
for i in range(1,6):
    print('  '*(5-i)+'★'*i)

        ★
      ★★
    ★★★
  ★★★★
★★★★★

### ■ 예제31. 시퀀스 자료 크기 이해하기(len)
#### 모든 시퀀스 자료는 고정된 길이 또는 크기를 가지고 있다. 
#### 시퀀스 자료의 크기는 시퀀스 자료를 구성하는 요소의 개수

In [76]:
strdata='abcdefg'
listdata=['a','b','c','d','e']
print(len(strdata))
print(len(listdata))

7
5

### ※ 문제64. 아래의 SQL을 파이썬으로 구현하시오
```sql
select ename, length(ename)
    from emp;
```

In [77]:
for i in emp_csv:
    print(i[1],len(i[1]))

KING 4
BLAKE 5
CLARK 5
JONES 5
MARTIN 6
ALLEN 5
TURNER 6
JAMES 5
WARD 4
FORD 4
SMITH 5
SCOTT 5
ADAMS 5
MILLER 6

### □ 오라클과 파이썬을 연동하는 방법
```
 오라클 database ---------------------- 파이썬
  코로나 데이터                         1. data 시각화
   삼성 데이터                          2. 여러 data분석 패키지를 활용
 SQL로 파생변수 생성
```
1. 오라클의 리스터의 상태를 확인
    - cmd
    - 리스너 상태를 확인하는 명령어를 작성하고 수행
         1. ip주소 : localhost
         2. port번호 : 1521
         3. 서비스 이름 : orcl
2. cx_Oracle 모듈을 설치 (*cs_Oracle : 오라클과 파이썬을 연동시키기 위한 코드가 있는 모듈)
    - 아나콘다 prompt
    - conda install 명령어로 cx_Oracle 모듈을 설치한다  
           - conda install cx_Oracle
    - cx_Oralce 모듈이 잘 설치되었는지 확인한다.
           - conda list
```python
        import cx_Oracle
        import pandas as pd

        dsn=cx_Oracle.makedsn('localhost',1521,'orcl') # 오라클에 대한 주소정보
        db=cx_Oracle.connect('scott','tiger',dsn) # 오라클 접속 유저 정보
        cursor=db.cursor()       # 데이터를 담을 메모리 이름을 cursor로 선언
        cursor.execute("""select * from emp""")  # 실행할 SQL문 작성하여 cursor 메모리에 담음
        row=cursor.fetchall()  # cursor메모리에 담긴 데이터를 1개 row씩 가져오기
        emp=pd.DataFrame(row)  # pandas의 DataFrame으로 옮김
        print(emp)
```

In [82]:
import cx_Oracle
import pandas as pd

dsn=cx_Oracle.makedsn('localhost',1521,'orcl')
db=cx_Oracle.connect('scott','tiger',dsn)
cursor=db.cursor()
cursor.execute("""select * from emp""")
row=cursor.fetchall()
emp=pd.DataFrame(row)
print(emp)

       0       1          2       3          4       5       6   7
0   7839    KING  PRESIDENT     NaN 1981-11-17     0.0     NaN  10
1   7698   BLAKE    MANAGER  7839.0 1981-05-01  2850.0     NaN  30
2   7782   CLARK    MANAGER  7839.0 1981-05-09     0.0     NaN  10
3   7566   JONES    MANAGER  7839.0 1981-04-01  2975.0     NaN  20
4   7654  MARTIN   SALESMAN  7698.0 1981-09-10  1250.0  1400.0  30
5   7499   ALLEN   SALESMAN  7698.0 1981-02-11  1600.0   300.0  30
6   7844  TURNER   SALESMAN  7698.0 1981-08-21  1500.0     0.0  30
7   7900   JAMES      CLERK  7698.0 1981-12-11   950.0     NaN  30
8   7521    WARD   SALESMAN  7698.0 1981-02-23  1250.0   500.0  30
9   7902    FORD    ANALYST  7566.0 1981-12-11  3000.0     NaN  20
10  7369   SMITH      CLERK  7902.0 1980-12-09   800.0     NaN  20
11  7788   SCOTT    ANALYST  7566.0 1982-12-22  3000.0     NaN  20
12  7876   ADAMS      CLERK  7788.0 1983-01-15  1100.0     NaN  20
13  7934  MILLER      CLERK  7782.0 1982-01-11     0.0     NaN  10

### ※ 문제65. 오라클 DB에 있는 dept 테이블 전체를 파이썬에서 쿼리하시오

In [83]:
cursor.execute("""select * from dept""")
row=cursor.fetchall()
dept=pd.DataFrame(row)
print(dept)

    0           1         2
0  10  ACCOUNTING  NEW YORK
1  20    RESEARCH    DALLAS
2  30       SALES   CHICAGO
3  40  OPERATIONS    BOSTON

### ※ 문제66. 위의 결과에 column명도 같이 출력되게 하시오

In [87]:
dsn=cx_Oracle.makedsn('localhost',1521,'orcl')
db=cx_Oracle.connect('scott','tiger',dsn)
cursor=db.cursor()
cursor.execute("""select * from dept""")
row=cursor.fetchall()
colname=cursor.description # 위에서 select 한 테이블의 column명 가져오기
cursor.close()  # cursor 메모리를 닫는다
col=[] # col 이라는 이름의 비어있는 리스트를 생성
for i in colname:  # loop문이 돌면서 비어있는 col 리스트에 dept테이블의 column명을 채워 넣는다
    col.append(i[0])
dept=pd.DataFrame(row, columns=col)
print(dept)

   DEPTNO       DNAME       LOC
0      10  ACCOUNTING  NEW YORK
1      20    RESEARCH    DALLAS
2      30       SALES   CHICAGO
3      40  OPERATIONS    BOSTON

### ■ 코드 디버깅하기
#### loop문이 있는 코드를 한 단계씩 수행하면서 변수에 있는 값을 확인하는 유용한 방법

In [94]:

import csv
import copy

file=open("K:\\Itwill\\2. Python\\자료\\emp2.csv",'r')
emp=csv.reader(file)
file=open("K:\\Itwill\\2. Python\\자료\\dept2.csv","r")
dept=csv.reader(file)

for dept_list in dept:
    for emp_list in emp:
        if dept_list[0]==emp_list[7]:
            print(emp_list[1], dept_list[2])

KING NEW YORK
CLARK NEW YORK
MILLER NEW YORK

### ※ 문제67. 오라클과 파이썬을 연동해서 emp테이블에서 월급이 1200 이상인 사원들의 이름, 월급을 출력

In [1]:
import cx_Oracle
import pandas as pd

dsn=cx_Oracle.makedsn('localhost',1521,'orcl')
db=cx_Oracle.connect('scott','tiger',dsn)
cursor=db.cursor()
cursor.execute(""" select * from emp  """)
row=cursor.fetchall()
colname=cursor.description 
cursor.close()  
col=[] 
for i in colname:  
    col.append(i[0])
emp=pd.DataFrame(row, columns=col)
emp[['ENAME','SAL']][emp['SAL']>=1200]

     ENAME     SAL
0     KING  5000.0
1    BLAKE  2850.0
2    CLARK  2450.0
3    JONES  2975.0
4   MARTIN  1250.0
5    ALLEN  1600.0
6   TURNER  1500.0
8     WARD  1250.0
9     FORD  3000.0
11   SCOTT  3000.0
13  MILLER  1300.0

### ※ 문제68. 부서번호가 10번인 사원들의 이름, 월급, 부서번호를 출력

In [7]:
dsn=cx_Oracle.makedsn('localhost',1521,'orcl')
db=cx_Oracle.connect('scott','tiger',dsn)
cursor=db.cursor()
cursor.execute(""" select ename, sal,deptno from emp where deptno in (10,20) """)
row=cursor.fetchall()
colname=cursor.description 
cursor.close()  
col=[] 
for i in colname:  
    col.append(i[0])
emp=pd.DataFrame(row, columns=col)
emp[['ENAME','SAL','DEPTNO']][emp['DEPTNO']==10]

    ENAME     SAL  DEPTNO
0    KING  5000.0      10
1   CLARK  2450.0      10
2  MILLER  1300.0      10

### ■ 예제32. 멤버 체크 이해하기 (in)
#### in은 자료에 어떤 값이 있는지 없는지 확인할 때 사용하는 키워드.
```python
값 in 자료
```
값이 자료에 있으면 결과가 True이고 없으면 False

In [12]:
listdata=[1,2,3,4]
a=5 in listdata
b=4 in listdata
print(a)
print(b)

False
True

### ※ 문제69. 오라클과 파이썬을 연동해서 부서번호가 10번, 20번인 사원들의 이름, 월급, 부서번호를 출력

In [2]:
emp[['ENAME','SAL','DEPTNO']][emp['DEPTNO'].isin([10,20])]

     ENAME     SAL  DEPTNO
0     KING  5000.0      10
2    CLARK  2450.0      10
3    JONES  2975.0      20
9     FORD  3000.0      20
10   SMITH   800.0      20
11   SCOTT  3000.0      20
12   ADAMS  1100.0      20
13  MILLER  1300.0      10

### ■ 예제33. 문자열 이해하기
#### 문자열은 문자나 기호 순서로 나열되어 있는 시퀀스 자료
```python
※ 문자열을 선언하는 방법 3가지
    1. '문자열' <- 싱글 쿼테이션 마크 1개
    2. "문자열" <- 더블 쿼테이션 마크 1개
    3. """문자열""" <- 더블 쿼테이션 마크 3개
문자에 아래와 같이 싱글 쿼테이션 마크가 포함되어 있으면 2번의 더블 쿼테이션 마크를 사용
a="My son's name is John"

문자에 아래와 같이 더블 쿼테이션 마크가 있으면 3번의 더블 쿼테이션 마크를 사용
b=""" my son's name is "john" """
```

### ※ 문제70. 직업이 SALESMAN이고 월급이 1000이상인 사원들의 이름, 월급, 직업을 출력하시오

In [18]:
emp[['ENAME','SAL','JOB']][(emp['JOB']=='SALESMAN')&(emp['SAL']>=1000)]

    ENAME     SAL       JOB
4  MARTIN  1250.0  SALESMAN
5   ALLEN  1600.0  SALESMAN
6  TURNER  1500.0  SALESMAN
8    WARD  1250.0  SALESMAN

### ■ 예제34. 문자열 포맷팅 이해하기
#### 문자열 포맷팅 변하는 값을 포함하는 문자열을 표현하기 위해 하나의 양식으로 문자열을 만드는 것
#### 문자열 포맷팅에서는 변하는 값을 타나내기 위해 사용하는 기호를 '포맷 문자열'
```
      포맷 문자열                     설명
         %s                       문자열에 대응됨
         %c                       문자나 기호 한 개에 대응됨
         %f                       실수에 대응
         %d                       정수에 대응
         %%                       %라는 기호 자체를 표시
```

In [20]:
txt1='자바'
txt2='파이썬'
num1=5
num2=10
print('나는 %s보다 %s에 더 익숙합니다.' %(txt2, txt1))

나는 파이썬보다 자바에 더 익숙합니다.

### ※ 문제71. 위의 예제를 가지고 아래와 같이 결과를 출력하시오
```
5는 10보다 작습니다
```

In [21]:
print('%d는 %d보다 작습니다' %(num1, num2))

5는 10보다 작습니다

In [24]:
print('{}는 {}보다 작습니다'.format(num1, num2))

5는 10보다 작습니다

In [25]:
print(f'{num1}는 {num2}보다 작습니다')

5는 10보다 작습니다

### ※ 문제72. 문자열 포맷팅을 사용해서 아래와 같이 결과를 출력하시오
```
        KING의 월급은 5000 입니다.
        ...
        ```

In [57]:
for i in range(len(emp)):
    print('%s의 월급은 %d입니다' %(emp['ENAME'][i], emp['SAL'][i]) )

KING의 월급은 5000입니다
BLAKE의 월급은 2850입니다
CLARK의 월급은 2450입니다
JONES의 월급은 2975입니다
MARTIN의 월급은 1250입니다
ALLEN의 월급은 1600입니다
TURNER의 월급은 1500입니다
JAMES의 월급은 950입니다
WARD의 월급은 1250입니다
FORD의 월급은 3000입니다
SMITH의 월급은 800입니다
SCOTT의 월급은 3000입니다
ADAMS의 월급은 1100입니다
MILLER의 월급은 1300입니다

### ■ 예제35. 이스케이프 문자 이해하기
#### 이스케이프 문자는 키보드로 입력하기 어려운 기호를 나타내기 위해 역슬래쉬 '\'로 시작하는 문자
#### 파이썬에서 자주 사용되는 이스케이프 문자는 다음과 같다
```
    이스케이프 문자                   설명
        \n                         줄 바꾸기
        \t                            탭
        \엔터                       줄 계속
        \\                           \자체
     \' 또는 \"               '기호 또는 "기호 자체
     ```

In [58]:
print('나는 파이썬을 배웁니다 \n 파이썬은 자바보다 \
훨씬 쉽습니다.')

나는 파이썬을 배웁니다
 파이썬은 자바보다 훨씬 쉽습니다.

### ※ 문제73. 아래와 같이 결과를 출력하시오
```
나는 '파이썬'을 배웁니다
```

In [60]:
print('나는 \'파이썬\'을 배웁니다')

나는 '파이썬'을 배웁니다

### ■ 예제36. 리스트 이해하기([])
#### 리스트는 파이썬에서 가장 많이 활용되는 시퀀스 자료형 중 하나
#### 리스트는 [ ]로 표시하며 [ ] 안의 요소를 ,로 구분하여 순서있게 나열

In [61]:
a=[1,2,3,4,5]
print(a[0])

1

### ※ 문제74. 아래의 b 리스트에서 숫자 2를 출력하시오

In [62]:
b=[[1,2],[3,4]]
print(b[0][1])

2

### ※ 문제75. 아래의 b리스트의 요소를 아래와 같이 전부 출력하시오
```python
b=[[2,4],[6,7]]
결과:
    2
    4
    6
    7
    ```

In [66]:
b=[[2,4],[6,7]]
for i in range(len(b)):
    for j in range(len(b[i])):
        print(b[i][j])

2
4
6
7

In [69]:
b=[[2,4],[6,7]]
for i in range(2):
    for j in range(2):
        print(b[i][j])

2
4
6
7

### ※ 문제76.(파이썬 알고리즘 문제 15번) 아래의 행렬의 합을 파이썬으로 구현하시오
$$
    \begin{pmatrix}
    2&4\\
    1&3\\
    \end{pmatrix}
    +
    \begin{pmatrix}
    1&3\\
    4&2\\
    \end{pmatrix}
$$

In [76]:
a=[[2,4],[5,7]]
b=[[1,3],[4,2]]
c=[]

for i in range(len(a)):
    for j in range(len(b)):
        c.append(a[i][j]+b[i][j])
        print(a[i][j]+b[i][j], end=' ')
    print('\n')

3 7

9 9

[2, 4, 1, 3]

In [76]:
a=[[2,4],[5,7]]
b=[[1,3],[4,2]]
c=[]
d=[]

for i in range(len(a)):
    for j in range(len(b)):
        c.append(a[i][j]+b[i][j])

3 7

9 9

[2, 4, 1, 3]