#### ※ 문제190 리뷰

In [4]:
import csv
import pandas as pd

emp11=pd.read_csv('k:/Itwill/2. Python/자료/emp11.csv')
rs2=emp11['email']
for i in rs2:
    print(i.find('@'))

12
10
8
7
9
9
9
7
11
7
12
6
12
8
12
9
7
9
10
10
8
9
10
6
8
6
6
8
11
9

In [6]:

file = open('k:/Itwill/2. Python/자료/emp11.csv','r',encoding='UTF-8')
emp_csv=csv.reader(file)
for i in emp_csv:
    data = i[7]
    a = data.find('@')
    b = data.find('.')
    print(data[a+1:b],data[a+1:-b+2])

emai ema
naver
naver
gmail
gmail
gmail
gmail
hanmail
naver
gmail
naver
naver
hanmail
 gmail
gmail
gmail
naver
naver
naver
hanmai
naver
naver
naver
naver
naver
icloud
gmail
naver
naver
naver
gmail

In [5]:
for i in rs2:
    print(i[i.find('@')+1:i.rfind('.')])

naver
naver
gmail
gmail
gmail
gmail
hanmail
naver
gmail
naver
naver
hanmail
gmail
gmail
gmail
naver
naver
naver
hanmai
naver
naver
naver
naver
naver
icloud
gmail
naver
naver
naver
gmail

### ■ 예제91. 문자열을 특정 문자(열)로 분리하기(split)
#### 코드를 작성할 때 가장 많이 접하게 되는 경우가 구분자(separator)로 구분되어 있는 문자열 파싱(parsing)하는 일
#### 이때 문자열 객체의 split()을 활용하면 구분자를 기준으로 문자열을 쉽게 분리하여 파싱

In [7]:
# 예제
url='http://www.naver.com/news/today=20191204'
result=url.split('/') # 문자열에서 /로 구분해서 문자를 리스트화
result

['http:', '', 'www.naver.com', 'news', 'today=20191204']

### ※ 문제191. 웹로그와 같은 log 데이터를 데이터 분석가들이 분석할 일이 많이 있는데 아래의 log 데이터에서 아래의 데이터를 추출하시오
```
log='name:홍길동 age:17 major:경영학 nation:한국' 
결과: ['name:홍길동','...']
```

In [8]:
log='name:홍길동 age:17 major:경영학 nation:한국' # 결과: ['name:홍길동','...']
log.split(' ')

['name:홍길동', 'age:17', 'major:경영학', 'nation:한국']

### ※ 문제192. 아래의 log 문자열에서 아래의 데이터만 추출하시오
```
log='name:홍길동 age:17 major:경영학 nation:한국' 
결과: ['홍길동','17',...]
```

In [22]:
rs=log.split()
ls=[j[1] for j in [i.split(':') for i in rs]]
ls

['홍길동', '17', '경영학', '한국']

### ■ 예제92. 문자열을 특정 문자(열)로 결합하기 (join)
#### 문자열 객체의 join() 메소드는 split()과는 반대로 문자열이 요소인 리스트를 인자로 받아 리스트 모든 요소를 특정 문자열로 연결하여 새로운 문자열로 만들어 리턴

In [23]:
# 예제
loglist=['2020/05/22','200','ok','이준호']
bond=':'
log=bond.join(loglist)
log

'2020/05/22:200:ok:이준호'

### ※ 문제193. 위에서 배운 join을 이용해서 우리반 데이터(emp11.csv)의 데이터 중 이름을 아래와 같이 출력하시오(성씨로 정렬해서)
```
힌트 : a.sort()
강혜리,권민준,김명환,김서준,김소애,김유진,김은주,김지석,....
```

In [35]:
file=open('k:/Itwill/2. Python/자료/emp11_2.csv','r',encoding='UTF-8')
name=csv.reader(file)
ls=[]
for i in name:
    ls.append(i[1]) # ls에 이름을 추가
ls.sort() # 정렬
bond=',' 
rs=bond.join(ls) # ls의 요소를 bond안의 값으로 join
rs

'강혜리,권민준,김명환,김서준,김소애,김유진,김은주,김지석,김태환,김현수,박민호,박상희,박지성,서동혁,안태형,양선종,위주희,이서지,이승혁,이예라,이준호,이태환,전지연,정주희,조성원,조원기,최민혁,최유리,한태현,홍승희'

In [36]:
file=open('k:/Itwill/2. Python/자료/emp11_2.csv','r',encoding='UTF-8')
name=csv.reader(file)
print(','.join(sorted([i[1] for i in name])))

강혜리,권민준,김명환,김서준,김소애,김유진,김은주,김지석,김태환,김현수,박민호,박상희,박지성,서동혁,안태형,양선종,위주희,이서지,이승혁,이예라,이준호,이태환,전지연,정주희,조성원,조원기,최민혁,최유리,한태현,홍승희

### ■ 예제93. 문자열에서 특정 문자(열)을 다른 문자(열)로 바꾸기 (replace)
#### 문자열 객체의 replace() 메소드는 문자열에서 특정 문자나 문자열을 다른 문자나 문자열로 변경

In [38]:
# 예제
txt='My password is 1234'
rs=txt.replace('1','0') # 문자열 변수 txt의 문자중 1을 0으로 바꿈
rs

'My password is 0234'

### ※ 문제194. 아래의 리스트의 결과를 아래와 같이 출력하시오
```
result=['name:홍길동 age:17 major:경영학 nation:한국']
결과: 
name ---> 홍길동
age ---> 17
major ---> 경영학
nation ---> 한국
```

In [43]:
result=['name:홍길동', 'age:17', 'major:경영학', 'nation:한국']
for i in result:
    print(i.replace(':',' ---> '))

name ---> 홍길동
age ---> 17
major ---> 경영학
nation ---> 한국

In [45]:
print('\n'.join([i.replace(':',' ---> ') for i in result]))

name ---> 홍길동
age ---> 17
major ---> 경영학
nation ---> 한국

### ■ 예제94. 문자열을 바이트 객체로 바꾸기 (encode)
#### 인코딩(encoding)이란?
```
사람이 인지할 수 있는 형태의 데이터를 약속된 규칙에 의해 컴퓨터가 사용하는 0과 1로 변환하는 과정.
컴퓨터의 발명, 발전이 미국의 학계와 기업을 중심으로 이루어지다보니 문자 집합도 미국을 기준으로 제정.
미국에서는 제정된 ASCII(미국 정보 교환 표준 부호)는 1960년대에 제정된 문자 집합으로 이후 개발된 문자 집합의 토대를 이루고 있다.
ASCII는 7비트만을 이용해서 음이 아닌 수(0~127)의 문자 집합내의 문자 할당 약속
```
```
사람이 알아 볼 수 있는 언어 --(변경)--> 컴퓨터가 알아볼 수 있는 숫자
```

### ※ 문제195. chr을 이용해서 숫자 65부터 127까지 어떤 문자인지 출력하시오

In [47]:
# 예제: A는 숫자 65. a는 숫자 97
for i in range(65,128):
    print(i,'-->',chr(i))

65 --> A
66 --> B
67 --> C
68 --> D
69 --> E
70 --> F
71 --> G
72 --> H
73 --> I
74 --> J
75 --> K
76 --> L
77 --> M
78 --> N
79 --> O
80 --> P
81 --> Q
82 --> R
83 --> S
84 --> T
85 --> U
86 --> V
87 --> W
88 --> X
89 --> Y
90 --> Z
91 --> [
92 --> \
93 --> ]
94 --> ^
95 --> _
96 --> `
97 --> a
98 --> b
99 --> c
100 --> d
101 --> e
102 --> f
103 --> g
104 --> h
105 --> i
106 --> j
107 --> k
108 --> l
109 --> m
110 --> n
111 --> o
112 --> p
113 --> q
114 --> r
115 --> s
116 --> t
117 --> u
118 --> v
119 --> w
120 --> x
121 --> y
122 --> z
123 --> {
124 --> |
125 --> }
126 --> ~
127 --> 

#### ASCII 코드표 -> 미국 엔지니어들은 편하게 사용 but 다른 나라는 불편
```
1. 서유럽 
    - 독일어의 움라우트, 스페인어의 물결표, 터키어의 시딜러, 프랑스어의 악센트는 7비트로는 표현 불가
    - 미국 표준을 보완한 새로운 국제 표준이 등장
    - 미국 표준인 0~127 영역은 그대로 유지하고 128~255 영역의 서유럽어에 필요한 문자를 추가
    - 129에 256인 8비트로 표현하는 문자 집합을 추가해서 서유럽어도 컴퓨터로 구현가능하게 됨
```
```
2. 아시아
    - 한자, 일본어, 한글이 8비트에 들어맞지 않음
    - 아시아를 위해서 더블 캐릭터 셋 16비트로된 문자 집합을 제공해서 해결
    - 65536의 문자를 할당할 수 있게 함
    - EUC-KR, CP949가 여기에 해당
        - 포스코 더 샾 아파트가 오라클 DB에 insert되면 ??로 보이게 된다
    - 이 문제를 해결하기 위해 나온 것이 유니코드
        - UTF-7, UTF-8, UTF-6, UTF-32 이 중 UTF-8을 가장 많이 사용  
```  
##### 파이썬에서 한글이 ??로 출력 안되려면 인코딩 UTF-8로 맞춰줘야 한다

### ■ 예제95. 바이트 객체를 문자열로 바꾸기(decode)
#### 디코딩(decoding)
```
컴퓨터가 알아볼 수 있는 언어 ------------> 사람이 알아볼 수 있는 언어
```

In [52]:
# 예제
u_txt='A'
b_txt=u_txt.encode()
print(u_txt)
print(b_txt) # b'A' : binary 'A'
c_txt=b_txt.decode()
print(c_txt)

A
b'A'
A

### ■ 예제96. 순차적인 정수 리스트 만들기(range)
#### [0,1,2,3]이나 [100,101,102,103]과 같이 순차적인 정수 리스트를 만드는 가장 간단한 방법은 파이썬 내장함수 range()를 이용

In [55]:
# 예제
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

### ※ 문제196. 아래의 결과를 출력하시오
```
[2,4,6,8,10,12,14,16,18]
```

In [63]:
[i for i in range(2,20,2)]

[2, 4, 6, 8, 10, 12, 14, 16, 18]

In [61]:
list(range(2,20,2))

[2, 4, 6, 8, 10, 12, 14, 16, 18]

### ■ 예제97. 리스트에서 특정 요소 얻기
#### 리스트의 특정 위치에 있는 요소값을 구하려면 인덱싱을 이용
#### 인덱스는 0부터 시작

In [66]:
a=[1,2,'a','b','c',[4,5,6]]
a[1]

2

### ※ 문제197. 위의 a 리스트에서 숫자 4를 출력하시오

In [67]:
a[5][0]

4

### ※ 문제198. 아래의 리스트에서 숫자 7을 출력하시오

In [68]:
b=[2,3,4,[5,6,[7,8],9],10]
b[3][2][0]

7

### ※ 문제199. 주머니속에 노란공 6개와 파란공 4개 총 10개의 공이 들어있는 리스트를 만드시오

In [83]:
ls=['y']*6+['b']*4
ls

['y', 'y', 'y', 'y', 'y', 'y', 'b', 'b', 'b', 'b']

### ※ 문제200. 위의 주머니에서 공을 하나 임의로 꺼내보시오

In [75]:
import random
print(random.sample(ls,1)) # random.sample : 리스트로 출력

['b']

### ※ 문제201. 위의 주머니에서 임의로 3개의 공을 꺼낼 경우 이 중에 2개의 공이 파란공일 확률을 구하시오(비복원)

In [96]:
cnt=0
for _ in range(100000):
    ls=['y']*6+['b']*4
    pick=[]
    for i in range(3):
        pick.append(ls.pop(ls.index(random.choice(ls))))
    if pick.count('b')==2:
        cnt += 1
print(cnt/100000)

0.30088

In [97]:
ls=['y']*6+['b']*4
cnt=0
for i in range(100000):
    pick=random.sample(ls,3)
    if pick.count('b')==2:
        cnt += 1
print(cnt/100000)

0.30035

In [103]:
sum([random.sample(ls,3).count('b')==2 for i in range(100000)])/100000

0.3007

### ※ 문제202. 아래의 a 리스트에서 랜덤으로 추출되는 3개의 숫자값의 평균값을 출력하시오

In [143]:
a=[1,2,3,4,5,6,7]
b=random.sample(a,3)
print(sum(b)/len(b))

4.666666666666667

### ※ 문제203. 위의 코드를 numpy로 구현하시오

In [171]:
np.random.choice(a,3).mean()

5.333333333333333

In [160]:
np.mean(random.sample(a,3))

5.0

### ※ 문제204. 아래와 같이 초등학생 십만명을 구성하는데 평균키를 148.5로 하고 표준편차를 7.8로 해서 구성하고 이 초등학생들 중 랜덤으로 100명을 추출해서 평균키를 출력하시오

In [172]:
avg=148.5
std=7.8
N=100000
height=np.random.randn(N)*std+avg
np.random.choice(height,100).mean()

148.54899892360692

### ■ 가설검정이란?
#### 가설이란 두 개 이상의 변수 또는 현상간의 관계를 검정 가능한 형태로 서술한 문장으로 과학적 조사에 의하여 검정이 가능한 사실을 말한다.
```
가설에는 연구자가 새로이 주장하여 검정하고자 하는 연구가설(대립가설)과 이에 반하여 기존에 일반적인 사실로 받아들여지고 있는 내용을 나타내는 귀무가설이 있다.
```
#### 일반적으로 귀무가설은 $H_0$으로 표기하고 연구가설은 $H_1$로 표기한다.
```
통상적으로 연구가설이 먼저 설정되면, 귀무가설은 연구가설에서 주장하는 내용과 반대되는 모든 내용을 포함하는 것이 된다.
```
#### 일반적으로 새로운 주장(연구가설)은 그것이 객관적으로 명백하게 입증되지 않으면 쉽게 받아들여지지 않는다.
#### 따라서 귀무가설을 기각하고 연구가설이 채택되는 위해서는 기존 지식을 나타내는 귀무가설이 분명하게 잘못되었음을 입증해야 한다

### ■ 가설검정의 중요한 용어 4개
1. 유의수준($\alpha$) : 귀무가설이 옳다는 전제하에 어느정도 극단적인 표본 통계량값이 나오면 귀무가설이 잘못되었다고 판단하여 귀무가설을 기각할 최대의 확률  
2. 임계치 : 검정의 종류(양측/단측)와 유의수준을 고려해서 산출한 값으로 가설의 채택 여부를 결정짓는 경계값  
3. 검정통계량 : 표본으로부터 추출한 통계량이나 검정에 사용할 분포에 따라 그에 맞는 값으로 치환한 통계량  
4. $p$-Value : 표본으로부터 얻은 통계량 혹은 이를 치환한 검정 통계량의 절댓값보다 더 큰 절댓값을 또다른 표본으로부터 얻을 수 있는 확률

### ※ (오늘의 마지막 문제)(파이썬 알고리즘 문제 34번)
```
2000 년 초등학교 5학년 어린이들의 전국 평균키는 148.5cm , 표준오차는 7.8 이였습니다.
식생활의 변화로 인해 어린이들의 성장에 변화가 일어났다고 생각됩니다. 그래서 현대의 초등학교 5학년 어린이들을 100명을
무작위로 추출해 조사했더니 그 평균키가 150cm 였습니다. 초등학교 5학년 어린이들의 평균 키가 늘어났다는 것을
유의수준 5%로 검정해보세요 ~ ( 단측검정)
```

```python
avg=148.5
std=7.8
N=100000
height=np.random.randn(N)*std+avg
np.random.choice(height,100).mean()
```

In [176]:
avg5=150
std5=7.8
N5=100000
height5=np.random.randn(N)*std+avg5
sample_avg=np.random.choice(height5,100).mean()
sample_avg

149.1947234602117

#### tall_pvalue()를 생성하고 평균키 값을 넣었을 때 p-value값이 출력되게 하시오

In [195]:
def tall_pvalue(n):
    from sympy import exp, sqrt, pi, Integral, Symbol, S
    import numpy as np
        
    avg=148.5
    std=7.8
    N=100000
    height=np.random.randn(N)*std+avg
       
    s_std=np.array([np.random.choice(height,100).mean() for _ in range(100000)]).std()
        
    data=n
            
    x = Symbol('x')
    f = exp(-(x-avg)**2/(2*s_std**2))/(s_std*sqrt(2*pi))
    
    return f'{round(n_pvalue,1)}%'

In [196]:
tall_pvalue(150)

'2.7%'